<!-- templates/login.html-->

<html>

<head>
	<title>Handling of http get and post request</title>
	<style>
		div {
			width: 400px;
			border: 1px solid green;
			padding: 10px;
			margin-bottom: 5px;
		}
	</style>
</head>

<body>

	<div>
	<div>
		<h1>Contractor search</h1>
		<form method="POST"
			action="{{ url_for('add_business') }}">
			<input type="text"
                name="sheet_name"
				placeholder="sheet_name">
			<input type="text"
				name="query"
				placeholder="query">
			<button type="submit">submit</button>
		</form>
	</div>
</body>

</html>
